.navbar{

    padding: 5px;
    
  }

.h1{
    font-size: xx-large;
  
  }

.nav-link{
      color:whitesmoke;
      padding-bottom: 25px;

  }

a:hover{
      color: whitesmoke;
      background-color: black;

  }

#port{
    padding: 25px;
    margin-top: 50px;
    background-color:black;
    color: white;
   text-rendering: optimizeLegibility;
   text-decoration: underline;
  }

.row{
      padding: 20px;
  }


#me{
      text-decoration: underline;
      margin-left: 50px;
      background-color:black;
      color: white;
      text-align: center;
  }

p{
      margin-left: 50px;
  }

#footer{
    padding: 10px 0px;
   margin-top: 400px; 
   background-color: aqua;
  }

body{
    background-color: #005f70;
background-image: url("https://www.transparenttextures.com/patterns/xv.png");


  }

#p {
    background-color: black;
    color: white;

    
  }
  
.media {
background-color: white;
  }


.card{
  margin-left: 50px;
  margin-top: 50px;
  }
h5{
  text-decoration: underline;
  text-align: center;
 
  
  }
h2{
  text-align: center;
}
h4{
  text-align: center;
  color: white;
  background-color: black;
}

.space{
  padding-left: 175px;
}